venv
.idea
bot/__pycache__/__init__.cpython-311.pyc
bot/__pycache__/admin.cpython-311.pyc
bot/__pycache__/apps.cpython-311.pyc
bot/__pycache__/models.cpython-311.pyc
bot/migrations/__pycache__/__init__.cpython-311.pyc
core/__pycache__/__init__.cpython-311.pyc
core/__pycache__/jazzmin_settings.cpython-311.pyc
core/__pycache__/settings.cpython-311.pyc
core/__pycache__/urls.cpython-311.pyc
core/__pycache__/wsgi.cpython-311.pyc
main_bot/__pycache__/configs.cpython-311.pyc
main_bot/__pycache__/keyboards.cpython-311.pyc
main_bot/__pycache__/messages.cpython-311.pyc
main_bot/__pycache__/queries.cpython-311.pyc
main_bot/__pycache__/states.cpython-311.pyc

.bot/__pycache__/__init__.cpython-311.pyc
.bot/__pycache__/admin.cpython-311.pyc
.bot/__pycache__/apps.cpython-311.pyc
.bot/__pycache__/models.cpython-311.pyc
.bot/migrations/__pycache__/__init__.cpython-311.pyc
.core/__pycache__/__init__.cpython-311.pyc
.core/__pycache__/jazzmin_settings.cpython-311.pyc
.core/__pycache__/settings.cpython-311.pyc
.core/__pycache__/urls.cpython-311.pyc
.core/__pycache__/wsgi.cpython-311.pyc
.main_bot/__pycache__/configs.cpython-311.pyc
.main_bot/__pycache__/keyboards.cpython-311.pyc
.main_bot/__pycache__/messages.cpython-311.pyc
.main_bot/__pycache__/queries.cpython-311.pyc
.main_bot/__pycache__/states.cpython-311.pyc


